<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h2>Fill Out This Form</h2>
        <form action="result" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label for="name" class="col-sm-4 col-form-label">Your Name:</label>
                <input type="text" class="form-control" name="name" id="name">
            </div>
            <div class="form-group row">
                <label for="location" class="col-sm-4 col-form-label">Dojo Location:</label>
                <select class="form-control" name="location" id="location">
                    <option value="Arlington">Arlington</option>
                    <option value="Bellevue">Bellevue</option>
                    <option value="Boise">Boise</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Dallas">Dallas</option>
                    <option value="LA">LA</option>
                    <option value="Oakland">Oakland</option>
                    <option value="OC">OC</option>
                    <option value="San Jose" selected>San Jose</option>
                    <option value="Tulsa">Tulsa</option>
                    <option value="Online">Online</option>
                </select>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Favorite Languages</label>
                <div class="form-check form-check-inline col-sm-2">
                    <input type="checkbox" class="form-check-input" id="python" name="language" value="Python">
                    <label for="python" class="form-check-label">Python</label>
                </div>
                <div class="form-check form-check-inline col-sm-2">
                    <input type="checkbox" class="form-check-input" id="java" name="language" value="Java">
                    <label for="java" class="form-check-label">Java</label>
                </div>
                <div class="form-check form-check-inline col-sm-2">
                    <input type="checkbox" class="form-check-input" id="javascript" name="language" value="JavaScript">
                    <label for="javascript" class="form-check-label">JavaScript</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Do you like the course?:</label>
                <div class="form-check form-check-inline col-sm-3">
                    <input type="radio" class="form-check-input" id="yes" name="answer" value="Yes">
                    <label for="yes" class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline col-sm-3">
                    <input type="radio" class="form-check-input" id="no" name="answer" value="No">
                    <label for="no" class="form-check-label">No</label>
                </div>
            </div>
            <div class="form-group">
                <label for="comment" class="col-form-label">Comment (optional):</label>
                <textarea class="form-control" name="comment" id="comment" rows="5"></textarea>
            </div>
            <div class="text-right">
                <input class="btn btn-info" type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>