* {
    margin: 0px;
    padding: 0px;
}

.container {
    border: 3px solid black;
    width: 700px;
    margin: 150px auto;
    padding: 20px;
}

input, select {
    max-width: 465px;
}

label {
    font-weight: bold;
}

h2 {
    text-decoration: underline;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
}